<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма анкеты</title>
</head>
<body>
    <h1>Заполните анкету</h1>
    <form action="/answer" method="post">
        <label for="title">Заголовок:</label>
        <input type="text" name="title" id="title"><br>
        <label for="surname">Фамилия:</label>
        <input type="text" name="surname" id="surname"><br>
        <label for="name">Имя:</label>
        <input type="text" name="name" id="name"><br>
        <label for="education">Образование:</label>
        <input type="text" name="education" id="education"><br>
        <label for="profession">Профессия:</label>
        <input type="text" name="profession" id="profession"><br>
        <label for="sex">Пол:</label>
        <input type="text" name="sex" id="sex"><br>
        <label for="motivation">Мотивация:</label>
        <input type="text" name="motivation" id="motivation"><br>
        <label for="ready">Готовность:</label>
        <input type="text" name="ready" id="ready"><br>
        <input type="submit" value="Отправить">
    </form>
</body>
</html>